:root {
  --accent-color: #49ad09;
  --accent-second: #3d9107;
  --color: #313131;
  --background: #ffffff;
  --background-second: #f2f2f2;
  --secondary-color: #a1a89d;

  --font-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--color);
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  gap: 28px;
}

.header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-second);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header-logo {
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-menu-item {
}
.header-menu-link {
}
.header-button {
  background-color: var(--accent-color);
  color: var(--background);
  padding: 18px 45px;
  border-radius: 5px;
}
.hero {
}
.hero-first-img {
}
.hero-title {
}
.title-green {
}
.hero-text {
}
.hero-btn {
}
.hero-link {
}
.hero-second-img {
}
.partners {
}
.partners-list {
}
.partners-list-item {
}
.specialization {
}
.specialization-title {
}
.specialization-list {
}
.specialization-list-item {
}
.specialization-logo {
}
.specialization-item-title {
}
.specialization-item-text {
}
.specialization-link {
}
.specialization-btn {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-img {
}
.portfolio-item-title {
}
.portfolio-item-link {
}
.portfolio-btn {
}
.feedback {
}
.feedback-title {
}
.feedback-list {
}
.feedback-list-item {
}
.feedback-item-title {
}
.feedback-text {
}
.feedback-author {
}
.pricing {
}
.pricing-title {
}
.pricing-title-item {
}
.pricing-item-title {
}
.price {
}
.service-item {
}
.service-btn {
}
.service-list {
}
.cta {
}
.cta-title {
}
.cta-text {
}
.cta-btn {
}
.footer {
}
.socials {
}
.socials-link {
}
.socials-text {
}
.socials-list {
}
.socials-item {
}
.resources {
}
.resources-title {
}
.resources-list {
}
.resources-item {
}
.company {
}
.company-title {
}
.company-list {
}
.company-item {
}
.input {
}
.input-title {
}
.input-field {
}
.input-btn {
}
.copyright {
}
.copyright-text {
}
